!!!
%html
  %head
    %title Secret Santa
    %meta{:content => "width=device-width", :name => "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{:class => content_for?(:body_class) ? yield(:body_class) : nil}
    %main= yield
